<!-- NAVBAR START -->
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark">
  <div class="container">      
    <a href="/" class="navbar-brand js-scroll-trigger" id="mainNav_brand">
      <!--<img src="/assets/img/team/placeholder_500x500.jpg" alt="logo du site" width="30" height="30"
      class="d-inline-block align-top" />-->
      <!--<span id="mainNav_brand_text">Rafaël Maychmaz</span>-->
      R a f a ë l &nbsp; M A Y C H M A Z
    </a>
    <button
      class="navbar-toggler"
      id="mainNav_button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#toggleMobileMenu"
      aria-controls="toggleMobileMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
      <!--<span class="navbar-toggler-icon"></span>-->
    </button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <ul class="navbar-nav ms-auto text-center">
        <li class="mainNav_li">
          <a class="nav-link" href="/">ACCUEIL</a>
        </li>
        <li class="mainNav_li">
          <a class="nav-link" href="/action.html" title="Mon action d'élu local">ACTION</a>
        </li>
        <li class="mainNav_li">
          <a class="nav-link" href="/idees.html" title="Mes propositions pour Saint-Cloud">IDÉES</a>
        </li>
        <li class="mainNav_li">
          <a class="nav-link" href="#">ME SOUTENIR</a>
        </li>
        <li class="mainNav_li">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
        <li class="mainNav_li">
          <a class="nav-link" href="https://www.saintcloud.fr/">MAIRIE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVBAR END -->