
<section id="contact_section">
    <center><b>NOUS CONTACTER</b></center>
    <p>Utilisez <a href="https://facebook.com/30000clodoaldiens" style="color:#9fcc9d;">notre page Facebook</a> ou le formulaire ci-dessous.</p>
    <form style="text-align: center;" id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mvodvnrg" method="post">
        <fieldset id="fs-frm-inputs">
            <label for="full-name">Prénom et Nom</label><br>
            <input type="text" name="name" id="full-name" placeholder="Prénom et Nom" required=""><br>
            <label for="email-address">Email</label><br>
            <input type="email" name="_replyto" id="email-address" placeholder="Email" required=""><br>
            <label for="telephone">Téléphone</label><br>
            <input type="text" name="telephone" id="telephone" placeholder="Téléphone" required=""><br>
            <label for="message">Message</label><br>
            <textarea rows="5" name="message" id="message" placeholder="Ecrivez votre message ici." required=""></textarea><br>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
        </fieldset>
        <br>
        <input type="submit" value="Envoyer" style="background: #9fcc9d; border-style: none;text-shadow: none; border-color: #9fcc9d;text-transform: uppercase; font-weight: 700; line-height: 1.5; border-radius: .25rem; padding: 10px;">
    </form>
</section>

